/* @override http://localhost:8000/assets/stylesheets/style.css */

/***********************************************************************************************************************
 * MESSAGES
 **********************************************************************************************************************/
#message-charts p {
    font-size: 12px;
    line-height: 18px;
}
#messages .message {
    cursor: pointer;
    overflow: hidden;
    margin: 0 0 15px;
    padding: 10px;
}

#messages .message.hover {
    background: #ededed;
}

#messages .message.current {
    background: #ededed;
}

#messages .message h4 {
    margin: 0 0 0 40px;
    line-height: 18px !important;
    margin-bottom: 10px;
}

#messages .message p {
    clear: both;
    font-size: 13px;
    line-height: 20px;
    color: rgb(116, 116, 116);
}

#messages .message .more {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    margin-top: 18px;
    margin-right: 10px;
}

#messages .message .more a {
    float: right;
    padding: 0 30px 0 0;
    background: url(/assets/img/arrow-more.gif) no-repeat 80% 50%;
    color: #333333;
    text-decoration: none;
}

#messages .message .more a:hover {
    color: #4682b4;
}

/***********************************************************************************************************************
 * MAIN CANVAS
 **********************************************************************************************************************/
#main-canvas {
    margin-top: 30px;
}

/***********************************************************************************************************************
 * MAP
 **********************************************************************************************************************/
#map {
    margin-top: 10px;
}

#map .background, #province-map .background {
    fill: none;
    pointer-events: all;
}

#legend rect {
    background: #ffffff;
}

#legend .legend-box rect {
    stroke: #999;
}

#map .province {
    fill: white;
    stroke: #aaa;
    stroke-width: 1;
    cursor: pointer;
}

#map .province:hover {
    fill-opacity: 0.8;
}

#provinces .active, #departments .active {
    stroke-width: 2;
}

.department {
    fill: none;
    stroke: #aaa;
}

#department .active {
    stroke: #aaa;
}

.map-control {
    font-size: 11px;
    color: #333;
}

#toggleMedicalCenters {
    position: relative;
    top: -3px;
}

/***********************************************************************************************************************
 * MAP CONTROLS
 **********************************************************************************************************************/
#slider {
    margin: 0 20px;
}

#slider-labels {
    margin: 0 10px;
    font-size: 11px;
    color: #666;
}

#slider-labels li {
    margin-right: 37px;
    padding-left: 0px;
    padding-right: 0px;
}

#zoomout {
    visibility: hidden;
}

.circle {
    fill: red;
    fill-opacity: 0.5;
    stroke: red;
    stroke-opacity: 0.8;
}

/***********************************************************************************************************************
 * CHARTS
 **********************************************************************************************************************/
.legend-title {
    font-size: 11px;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 13px;
}

#direct-causes-legend rect, #direct-causes-legend text,
#indirect-causes-legend rect, #indirect-causes-legend text{
    cursor: pointer;
}

#legend text {
    font-size: 12px;
    fill: #333;
}
#direct-causes-legend text, #indirect-causes-legend text {
    font-size: 11px;
    fill: #333;
}

#causesByYear {
    font-size: 11px;
    fill: #333;
}

.cause {
    cursor: pointer;
    stroke: none;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/***********************************************************************************************************************
 * RIGHT PANE
 **********************************************************************************************************************/
.sidebar {
    background: #f4f4f4;
    cursor: default;
    border-radius: 2px;
    margin-top: 2.5%;
    display: inline-block;
    margin-right: 1.6em;
    border: 1px solid #CCC;
    border-right: 6px solid #CCC;
    padding: 2px 6px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -webkit-transition: all .28s ease-out;
}

#provinceContext, #nationalContext {
    width: 285px;
}

.context-data li {
    min-height: 30px;
    margin-bottom: 5px;
    color: #666;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
}

.context-data li .number {
    clear: both;
    float: left;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bolder;
    color: #000;
    line-height: 20px;
    min-width: 40px;
    text-align: center;
}

#deathRate {
    font-size: 10px;
}

#deathRate .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

/***********************************************************************************************************************
 * PROVINCE MAP
 **********************************************************************************************************************/

.key {
    font: 10px sans-serif;
}

.caption {
    font-weight: bold;
}

.key path {
    display: none;
}

.key line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.place,
.place-label {
    cursor: pointer;
    fill: #444;
}

.place.danger {
    fill: #8d0003;
}

#provinceMapCanvas {
    /*cursor: move;*/
}

#provinceMapCanvas .background {
    fill: none;
    pointer-events: all;
}

.healthcareTooltip {
    font-size: 10px;
    line-height: 10px;
    max-width: 100px;
    padding: 5px 3px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #333333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.healthcareTooltip p {
    margin-bottom: 0px;
}

.departmentTooltip {
    font-size: 11px;
    line-height: 10px;
    max-width: 100px;
    padding: 5px 5px;
    color: #333333;
    text-align: center;
    text-decoration: none;
    background-color: #aaaaaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.departmentTooltip p {
    margin-bottom: 0px;
}

#province-map-filter {
    height: 155px;
    padding: 0px 5px;
}

#province-map-filter h6 {
    margin-bottom: 0px;
}

#province-map-filter .col {
    width: 85px;
    float: left;
}

#province-map-filter label {
    font-size: 11px;
    margin-bottom: 0px;
}


/***********************************************************************************************************************
 * PIECHART
 **********************************************************************************************************************/
.pieChart {
    margin-right: 40px;
}

.pieChartTip {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.pieChartTip .inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pieChartTip .inner p {
    margin-bottom: 0px;
}

/***********************************************************************************************************************
 * FOOTER
 **********************************************************************************************************************/
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    margin-bottom: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

/***********************************************************************************************************************
 * GLOSSARY TOOLTIP
 **********************************************************************************************************************/
abbr {
    cursor: help;
    border-bottom: 1px dotted #999999;
}

/***********************************************************************************************************************
 * PROVINCE TOOLTIP
 **********************************************************************************************************************/
.provinceTooltip {
    font: 10px sans-serif;
    background: #FFFFFF;
    border: solid 2px #aaa;
    border-radius: 8px;
    pointer-events: none;
    padding: 8px;
}

.provinceTooltip .province-bar, .provinceTooltip .national-bar {
    height: 10px;
    margin-right: 4px;
}

.provinceTooltip .province-bar {
    background-color: #4682b4;
}

.provinceTooltip .national-bar {
    background: #000000;
}

.provinceTooltip p {
    margin-top: 0px;
    margin-bottom: 0px;
}

/***********************************************************************************************************************
 * AFFIX
 **********************************************************************************************************************/
.affix {
    height: 70px;
    bottom: 0px;
    width: 100%;
    background: #333333;
    border-top: solid 2px #e5e5e5;
}

.affix .container {
    padding: 10px 0px;
}

.affix .title {
    font-size: 11px;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 13px;
}

.affix .control .title {
    color: #ededed;
}

#province-selector input {
    height: 10px;
    margin-bottom: 0px;
    float: left;
    width: 180px;
    margin-right: 5px;
}

#cause-selector .cause-box {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
    border: solid 1px #333;
    cursor: pointer;
}

#cause-selector .cause-box.current {
    border: solid 1px #ededed;
}

.affix .reset-selector {
    font-size: 20px;
    font-weight: bold;
    line-height: 12px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
}

.affix .reset-selector:hover {
    text-decoration: none;
    opacity: 1;
}

/***********************************************************************************************************************
 * CONTEXT CHARTS
 **********************************************************************************************************************/
#odm-linechart {
    font: 10px sans-serif;
}

#odm-linechart .axis path,
#odm-linechart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#odm-linechart .line,
#odm-linechart .projection2015,
#odm-linechart .pathODM {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#odm-linechart .pathODM {
    stroke: rgba(141, 0, 3, 0.92);
}

#odm-linechart .point {
    fill: steelblue;
}

#odm-linechart text.pointLabels {
    fill: steelblue;
}

#odm-linechart .pointODM {
    fill: rgba(141, 0, 3, 0.92);
}

#odm-linechart text.odm {
    fill: rgba(141, 0, 3, 0.92);
}

#rank-barchart {
    font: 10px sans-serif;
}

#rank-barchart .axis path,
#rank-barchart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#rank-barchart .bar {
    fill: steelblue;
}

#rank-barchart .bar.nation {
    fill: #000;
}

#rank-barchart .y.axis line.tick {
    stroke: none;
}

#rank-barchart text.pointLabels {
    fill: steelblue;
}

#rank-barchart text.pointLabels.nation {
    fill: #000;
}
