/***********************************************************************************************************************
 * MESSAGES
 **********************************************************************************************************************/
#messages .alert {
    cursor: pointer;
}

#messages .alert.current {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/***********************************************************************************************************************
 * MAP
 **********************************************************************************************************************/
#map {
}

#map .background, #province-map .background {
    fill: none;
    pointer-events: all;
}

#legend rect {
    background: #ffffff;
}

#legend .legend-box rect {
    stroke: #999;
}

#map .province {
    fill: white;
    stroke: #aaa;
    stroke-width: 1;
    cursor: pointer;
}

#map .province:hover {
    fill-opacity: 0.8;
}

#provinces .active, #departments .active {
    stroke-width: 2;
}

.department {
    fill: none;
    stroke: #aaa;
}

#department .active {
    stroke: #aaa;
}

.map-control {
    font-size: 11px;
    color: #333;
}

#toggleMedicalCenters {
    position: relative;
    top: -3px;
}

/***********************************************************************************************************************
 * MAP CONTROLS
 **********************************************************************************************************************/
#slider {
    margin: 0 20px;
}

#slider-labels {
    margin: 0 10px;
    font-size: 11px;
    color: #666;
}

#slider-labels li {
    margin-right: 37px;
    padding-left: 0px;
    padding-right: 0px;
}
#locationTypeahead {

}

#zoomout {
    visibility: hidden;
}

.circle {
    fill: red;
    fill-opacity: 0.5;
    stroke: red;
    stroke-opacity: 0.8;
}

/***********************************************************************************************************************
 * CHARTS
 **********************************************************************************************************************/
.legend-title {
    font-size: 11px;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 13px;
}

#direct-causes-legend rect, #direct-causes-legend text,
#indirect-causes-legend rect, #indirect-causes-legend text{
    cursor: pointer;
}

#legend text {
    font-size: 12px;
    fill: #333;
}
#direct-causes-legend text, #indirect-causes-legend text {
    font-size: 11px;
    fill: #333;
}

#causesByYear {
    font-size: 11px;
    fill: #333;
}

.cause {
    cursor: pointer;
    stroke: none;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/***********************************************************************************************************************
 * RIGHT PANE
 **********************************************************************************************************************/
.context-data li {
    min-height: 30px;
    margin-bottom: 5px;
    color: #666;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
}

.context-data li .number {
    clear: both;
    float: left;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bolder;
    color: #000;
    line-height: 20px;
    min-width: 40px;
    text-align: center;
}

#deathRate {
    font-size: 10px;
}

#deathRate .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}
