/***********************************************************************************************************************
 * MAP
 **********************************************************************************************************************/
#map {
    float: left;
}

#map .background {
    fill: none;
    pointer-events: all;
}

#legend rect {
    background: #ffffff;
}

#legend .legend-box rect {
    stroke: #999;
}

#map .province {
    fill: white;
    stroke: #aaa;
    stroke-width: 1;
    cursor: pointer;
}

#map .province:hover {
    fill-opacity: 0.8;
}

#provinces .active, #departments .active {
    stroke-width: 2;
}

.department {
    fill: none;
    stroke: none;
}

/***********************************************************************************************************************
 * MAP CONTROLS
 **********************************************************************************************************************/
#locationTypeahead {

}

#zoomout {
    visibility: hidden;
}

/***********************************************************************************************************************
 * CHARTS
 **********************************************************************************************************************/
.cause {
    cursor: pointer;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
